<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.etisalat.app"
        version   = "1.0.0">

    <name>Etisalat Loyalty</name>

    <description>
        Etisalat Loyalty a lifestyle app that connects you to partners around the world offering you discounts and gift
    </description>

    <author href="http://etisalat.com" email="info@etisalat.com">
        Glo Prive
    </author>
	
	<feature name="http://api.phonegap.com/1.0/device" />

   <preference name="phonegap-version" value="cli-5.2.0" />
  
    <preference name="orientation" value="portrait" />      
    <preference name="target-device" value="universal" />     
   
   

    <!-- Plugins -->

    <!-- Core plugins -->
    
    
  <!--  <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.splashscreen" /> -->
 

   
    <!--
        <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    -->

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    

    <!-- Define app splash screen for each platform. -->
	
	 <!--<gap:splash src="large.jpg"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="large.jpg"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="large.jpg"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="large.jpg" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="normal.jpg"         gap:platform="blackberry" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />

    <gap:splash src="normal.jpg"     gap:platform="ios"     width="750" height="1334" />
    <gap:splash src="normal.jpg"     gap:platform="ios"     width="1242" height="2208" />
    <gap:splash src="xlarge.jpg"     gap:platform="ios"     width="2208" height="1242" />

    <gap:splash src="large.jpg" gap:platform="winphone" /> -->
	
	

  

    <access origin="*"/>
   

</widget>
